.button {
	display: inline-block;
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}


.btn {
	box-sizing: border-box;
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
	background-color: transparent;
	border: 2px solid #e74c3c;
	border-radius: 0.6em;
	color: #e74c3c;
	cursor: pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-self: center;
		-ms-flex-item-align: center;
			align-self: center;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1;
	margin: 20px;
	padding: 1.2em 2.8em;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
  }

.btn:hover, .btn:focus {
	color: #fff;
	outline: 0;
	transform: translateY(-3px);
	border: 2px solid #fff;
  }

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
  
  .first {
	-webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
	transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  .first:hover {
	box-shadow: 0 0 40px 40px #e74c3c inset;
  }

.third {
	border-color: #3498db;
	background: transparent;
	color: #fff;
	box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
	-webkit-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
  }
  .third:hover {
	box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  }



/* BOTÃO FLUTUANTE */

.back-to-top {
	background-color: #3498db;
	border-radius: 65px;
	bottom: 14px;
	box-shadow: 2px 3px 19px -2px rgba(0, 0, 0, .75);
	color: #21529a;
	cursor: pointer;
	height: 40px;
	position: fixed;
	right: 22px;
	width: 40px;
	z-index: 3;
  	/* &::after {
	  content: '▲';
	  display: flex;
	  justify-content: center;
	  padding-left: 1px;
	  padding-top: 10px;
	} */
	display: flex;
	justify-content: center;
	padding-left: 1px;
	padding-top: 7px;
}

